#filter-date-c{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  right: 350px;
  top: 100px;
  
}
#filter-date-c span { 
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 20px;
  color: grey;
  margin: 0px 0px 10px 0px;
}
#filter-date{
  width: 150px;
  height: 40px;
  border-radius: 999px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 
        inset 0px 4px 4px -4px rgba(125, 125, 125, 0.5),
        inset 0px -4px 5px -3px rgba(125, 125, 125, 0.5);
}
#filter-date input{
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  pointer-events: all;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 20px;
  color: grey;
  margin-left: 5px;
}
.magnifying-glass{
  height: 30px;
  fill: grey;
  margin-left: 10px;

}
#main-c__bottom-nav-top__Searchbar__form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-c__bottom-nav-top__Searchbar__button{
  height: 20px;
  min-width: 30px;
  background-color: rgb(177, 177, 177);
  border-radius: 999px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border: none;
  outline: none;
}