.main-c__image-ul{
  display: flex;
   justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  /* width: 70vw; */
  margin: auto;
  margin-top: 0px;
  /* overflow: hidden;  */
  overflow-x: hidden;
  margin-bottom: 0px;
}
.main-c__image-li {
  /* height: 40vh;  */
  /* flex-grow: 1;
  
  display: flex;
  /* flex-wrap: wrap; */
  margin: 3px;  
  justify-content: space-evenly;
  background-color: thistle;
  
}
.search-array-image{
  height: 40vh;
  object-fit: cover;
  vertical-align: bottom;
  margin: 6px;
  flex-shrink: 10; 
}
.sml-image{
  height: 20vh;
}
.med-image{
  height: 40vh
}
.lrg-image{
  height: auto;
  width: 70vw;
}
.full-image{
  height: auto;
  width: 100vw;
}
.loading{
  color: white;
  margin: 10px 0px 20px 60px;
}
.search-array-image__data{
  height: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.search-array-image__data__descirption{
  color: white;
  margin: auto;
  text-align: center;
  display: none;
}
#image-modal-c{
  width: 100%;
  top: 0px;
  position: absolute;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  z-index: 1;
  background-color: black;
  /* pointer-events: none; */
}
#image-modal-c__scroll{
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#image-modal-c__image{
  position: relative;
  /* width: 100%; */
  height: auto;
}
.image-modal-c__description-c{
  width: 80%;
  height: auto;
  margin: 30px 0px 30px 0px;
}
.image-modal-c__description-c p{
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 20px;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  
}
.image-modal-c__description-c h1{
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 2;
  /* font-size: 20px; */
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  margin: auto;
  
}
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 
.fb-share-button{

  width: 80px;
  height: 80px;
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.social-media-links{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .star-c{
  max-height: 77px;
  max-width: 77px;
  border-radius: 999px;
  background-color: rgb(205, 23, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
} */
.star-c{
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -8px;
  left: 0px;

}
.star{
  height: 80px;
  
  bottom: 5px;
  transition: all .3s;
  filter: hue-rotate(0deg);
}
.star:hover{
  height: 100px;
  filter: hue-rotate(20deg);
}
.star-c span {
  font-size: 17px;
  color: rgb(98, 0, 255);
  /* color: #444444;  */
/* background: #FFFFFF; */
text-shadow: 
1px 0px 1px #CCCCCC, 
0px 1px 1px #EEEEEE, 
2px 1px 1px #CCCCCC, 
1px 2px 1px #EEEEEE, 
3px 2px 1px #CCCCCC, 
2px 3px 1px #EEEEEE, 
4px 3px 1px #CCCCCC;
/* 3px 4px 1px #EEEEEE, 
5px 4px 1px #CCCCCC, 
4px 5px 1px #EEEEEE, 
6px 5px 1px #CCCCCC, 
5px 6px 1px #EEEEEE, 
7px 6px 1px #CCCCCC; */

}
.fb-share-button a{
  color: white;
  text-decoration: none;
  margin: 0px 0px 0px 50px;
}
.facebook-image{
  height: 80px;
}

.twitter-share-button{
  height: 80px;
  margin: 0px 0px 0px 50px;
  
  
}
.twitter-share-image{
  height: 80px;
}

