.info-button{
  position: absolute;
  width: 300px;
  top: 20px;
  left: 100px;
  height: 50px;
  font-family: 'Roboto',sans-serif;
  font-size: 25px;
  color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(157, 159, 215); 
      box-shadow: inset 0px 2px 4px -1px rgba(125, 125, 125, 0.6), 
        inset 0px -4px 5px -2px rgba(125, 125, 125, 0.6), 
        0px 3px 4px 0px rgba(125, 125, 125, 0.3);;

}
.info-button span{
color: #dfcefc;
text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  
}
.info-button span:hover{
color: rgb(234, 223, 254); 
}
.info-button:hover{
  top: 21px;
  box-shadow: 
    inset 0px 2px 4px -1px rgba(125, 125, 125, 0.6),
    inset 0px -2px 5px -0px rgba(125, 125, 125, 0.6),
    0px 1px 1px 0px rgba(125, 125, 125, 0.3);
}
#image-search-text{
  height: 155px;
  width: 395px;
  /* margin: 0px 0px 20px 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 20px;
  font-size: 18px;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  color: grey;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 0px 3px 6px 2px rgb(128, 128, 128, .5);
  border-radius: 10px;
  overflow-y: scroll;
  background-color: rgb(245, 245, 245);
  z-index: 2;
}
#image-search-text p {
  margin: 10px 20px 0px 20px;
}
