#main-c__left{
  width: 260px;
  height: 100vh;
  /* border-right: 1px solid rgb(233, 232, 232); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;

}
.bird-left-panel{
  height: 30px;
  margin-top: 10px;
  fill: rgba(29,161,242,1.00);
  position: relative;
  top: -5px;
}
.main-c__left__bird{
  width: 38px;
  height: 38px;
  border-radius:  9999px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgba(29,161,242,1.00);
  margin: 0px 0px 5px 0px;

}
.main-c__left__bird:hover {
  background-color: rgb(238, 247, 253);
}
.birdhouse{
  height: 30px;
  margin-top: 10px;
  fill: rgba(29,161,242,1.00);
  position: relative;
  top: -5px;
  margin-left: 6px;

}

.main-c__left__link{
  height: 35px;
  border-radius:  9999px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgba(29,161,242,1.00);
  margin: 0px 0px 6px 0px;
}
.main-c__left__link span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
  font-weight: 700;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 6px;
}
.main-c__left__link:hover{
  background-color: rgb(238, 247, 253);
}
#hash-c{
  width:140px;

}
.hash{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: -6px;
}
.main-c__left-c{
  width: 100%;
  color: rgb(0, 0, 0);
  fill: black;
}
.main-c__left-c:hover{
  color: rgba(29,161,242,1.00);
  fill: rgba(29,161,242,1.00);
}
.main-c__left-c__link-black{
  height: 35px;
  border-radius:  9999px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: inherit;
  margin: 0px 0px 5px 0px;
  fill: inherit;
}
.main-c__left-c__link-black span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  line-height: 1.3125;
  font-weight: 700;
  font-size: 18px;
  margin-left: 18px;
  margin-right: 6px;
}
.main-c__left-c__link-black:hover{
  background-color: rgb(238, 247, 253);
}
.main-c__left-c__link-black span:hover{
  fill: rgba(29,161,242,1.00);
}
#bell-c{
  width: 180px;
}
.bell{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#envelope-c{
  width: 160px;
}

.envelope{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#bookmark-c{
  width: 170px;
}
.bookmark{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#paper-c{
  width: 120px;
}
.paper{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#person-c{
  width: 130px;
}
.person{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#circles-more-c{
  width: 120px;
}
.circles-more{
  height: 30px;
  margin-top: 10px;
  fill: inherit;
  position: relative;
  top: -5px;
  margin-left: 6px;
}
#main-c__left__bottom-c{
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#tweet-button{
  background-color:  rgba(29,161,242,1.00);
  width: 230px;
  height: 50px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
}
#tweet-button span{
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);

}
#tweet-button:hover{
  background-color:  rgb(26, 145, 219);
}

#main-c__left__login{
  width: 260px;
  height: 50px;
  border-radius: 999px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#main-c__left__login:hover{
  background-color: rgb(238, 247, 253);
}
.profile-bubble{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /* border: 1px solid black; */
  background-image: url(../images/ProfileImages/p7.jpg);
  background-size: cover;
}
.user-names{
  height: 40px;
  width: 130px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.user-names__span1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.user-names__span2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: slategray;
}
.down-carrot-left-panel{
  height: 20px;
  width: 20px;
  margin-left: 30px;
}
#left-logout-modal{
  height: 120px !important;
  width: 250px;
  background-color: white;
  z-index: 2;
  position: fixed;
  bottom: 70px;
  border-radius: 15px;
  box-shadow: 1px 4px 3px 1px rgb(169, 171, 173, .2);

}
#left-logout-modal__top{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(197, 197, 197);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left-logout-modal__user-names{
  height: 40px;
  width: 130px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-logout-modal__user-names__first-last{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}
.left-logout-modal__user-names__span1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.left-logout-modal__user-names__span2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
  color: slategray;
}
.checkmark{
  height: 20px;
  width: 20px;
  margin-left: 15px;
  margin-top: -20px;
  fill: rgb(26, 145, 219);
}
#left-logout-modal__bottom{
  width: 100%;
  height: 43px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left-logout-modal__bottom--button {
  cursor: pointer;
}
.left-logout-modal__logout-span{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  margin-left: 20px;
}
.left-logout-modal-invisible{
  display: none;
}

#envelope-c:hover,
#tweet-button:hover,
#circles-more-c:hover,
#person-c:hover,
#paper-c:hover,
#bookmark-c:hover,
#bell-c:hover,
#hash-c:hover{
  cursor: not-allowed;
}

