@media screen and (max-width: 1120px;) {
    .login-main__left {
        visibility: hidden;
    }
    .login-main__right {
        width: 100%;
    }
}
.login-container {
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #15212B;
}
.login-main--container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
}
.login-main__left {
    width: 50%;
    height: 100%;
    background-color: #75c0f7;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-birdSVG--background {
    width: 100%;
    height: 100%;
    position: relative;
}
.login-birdSVG--background svg{
    fill: #0383df;
    height: 1050px;
    width: 1050px;
    position: absolute;
    top: -200px;
    left: -100px;
}
.login-main__left--text {
    width: 370px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
}
.login-main__left--text div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.login-main__left--text svg {
    width: 30px;
    height: 30px;
    color: white;
    margin: 0;
    margin-right: 15px;
    fill: white;
}
.login-main__left--text span {
    font-size: 18px;
}
.login-main__right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-bar {
    position: relative;
    top: 15px;

}
.login-bar__form {
    height: 56px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.login-bar__form input {
    font-size: 20px;
    font-weight: 200;
    position: relative;
}
.login-bar__button--container {
    width: 77px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #68aae9;
    border-radius: 90px;
    cursor: pointer;
}
.login-bar__button--container:hover {
    background-color: #2a4357;
}
.login-bar__button {
    width: 44px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-bar__button span {
    color: #0383df;
}
.login-block-header {
    cursor: default;
}
.login-subBar__span--container {
    position: relative;
    top: 28px;
    left: 20px;
}
.login-subBar__span--container span {
    font-size: 12px;
    color:#0383df;
    font-weight: 500;
}
.login-block {
    width: 380px;
    height: 342px;
    position: relative;
    top: 20%;
    display: flex;
    flex-flow: column;
    background-color: #15212B;
}
.bird{
    width: 42px;
    height: 42px;
    margin-top: 10px;
    fill: white;
}
.login-block__h2 {
    width: 340px;
    height: 62px;
    position: relative;
    top: 10px;
}
.login-block__h2 span {
    font-size: 28px;
    /* padding: 5px; */
}
.login-block__h5 {
    position: relative;
    top: 80px;
    font-size: 16px;
}
.login-input-field {
    width: 210px;
    height: 56px;
    margin-right: 15px;
    color: gray;
    font-weight: 700;
    font-size: 14px;
    background-color: #192834;
    outline: none;
}
.login-block__signup--container {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0383df;
    border-radius: 90px;
    background-color: #0383df;
    position: relative;
    top: 100px;
    cursor: pointer;
}
.login-block__signup--container:hover {
    background-color: white;
    color: #0383df;
}
.login-block__demo--container {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0383df;
    border-radius: 90px;
    position: relative;
    top: 115px;
    cursor: pointer;
}
.login-block__demo--container:hover {
    background-color: white;
    color: #0383df;
}
.login-footer {
    width: 100%;
    height: 100px;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.login-footer__creditBox {
    width: 200px;
    height: 65px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-footer__creditBox span {
    margin-top: 10px;
}
.login-footer__creditBox--links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-footer__creditBox--links svg {
    width: 20px;
    height: 20px;
    margin: 10px;
    fill: white;
    cursor: pointer;
}
.login-footer__creditBox--links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.hide-div {
    visibility: hidden;
}
.modal-content {
}
