#root{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: black;

}
#main-c{
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  z-index: 10;
}
#main-c__scroll{
  height: auto;
  width: 100vw;
}
.main-c__img{
  width: 100%;
  /* height: 100%; */
}
.main-c__bottom-nav{
  position: fixed;
  bottom: 0px;
  height: 40%;
  width: 100%;
  /* border-top: 1px solid rgb(208, 208, 208); */
  -moz-box-shadow: 0px -3px 3px 1px rgba(205, 205, 205, 0.3);
  -webkit-box-shadow: 0px -3px 3px 1px rgba(205, 205, 205, 0.3);
  box-shadow: 0px -3px 6px 2px rgba(48, 48, 48, 0.2);
  background-color: hsl(0, 0%, 100%, .95);
  transition: height 1s;
  z-index: 1;
}
.open{
  height: 40%;
  overflow: hidden;
}
.closed{
  height: 80px;
}
.main-c__bottom-nav-switch{
  height: 60px;
  width: 60px;
  /* border: 1px solid grey; */
  position: relative;
  /* top: -20px; */
  margin: auto;
  transition: all;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.flipped{
  transform: rotate(180deg);
  top:-10px
}
#chevron-skywalker{
  width: 60px;
  fill: hsl(0, 0%, 100%, .95);
  position: relative;
  top: 29px;
  filter: drop-shadow(0px -1px 4px rgb(158, 158, 158));
  /* box-shadow: 0px -3px 6px 2px rgba(48, 48, 48, 0.2); */
  /* background-color: hsl(0, 0%, 100%, .95); */
  
}
#chevron-skywalker-inverse{
  width: 60px;
  fill: hsl(0, 0%, 100%, .95);
  transform: rotate(180deg);
  position: relative;
  top: -21px;
  filter: drop-shadow(0px 5px 6px rgba(48, 48, 48, .19));
  /* background-color: hsl(0, 0%, 100%, .95); */
}
#main-c__bottom-nav-top{
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  position: relative;
  top: -60px;
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-arrow{
  transform: rotate(180deg);
  height: 25px;
  fill: rgb(233, 233, 233);
}

.search-array-image{
  height: 40vh;
  object-fit: cover;
  vertical-align: bottom;
  margin: 6px;
  flex-shrink: 10; 
}
.main-c__image-ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  width: 100vw;
  margin: auto;
  margin-top: 0px;
  overflow: hidden; 
  margin-bottom: 0px;
}
.main-c__image-li {
  /* height: 40vh;  */
  flex-grow: 1;
  margin: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.sml-image{
  height: 20vh;
}
.med-image{
  height: 40vh
}
.lrg-image{
  height: auto;
  width: 70vw;
}
.full-image{
  height: auto;
  width: 100vw;
}
.potd-img{
  width: 100vw;
  z-index: 2;
  /* position: fixed; */
  /* top: 0px; */
}
#potd-description{
  width: 80%;
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 20px;
  margin: 30px auto 30px auto;

}

.loading{
  color: white;
  margin: 10px 0px 20px 60px;
}
.search-array-image__data{
  height: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.search-array-image__data__descirption{
  color: white;
  margin: auto;
  text-align: center;
  display: none;
}
#image-modal-c{
  width: 100%;
  top: 0px;
  position: absolute;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
  /* pointer-events: none; */
}
#image-modal-c__scroll{
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#image-modal-c__image{
  position: relative;
  width: 100%;
  height: auto;
}
#image-modal-c__description-c{
  width: 80%;
  height: auto;
  margin: 30px 0px 30px 0px;
}
#image-modal-c__description-c p{
  color: white;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 20px;

}
.epic-img-c {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.epic-img-c__img { 
  margin: auto;
  height: 100vh;
}
#chevron-right{
  position: fixed;
  top: calc(50vh - 80px);
  right: 30px;
  height: 80px;
  width: 80px;
  transform: rotate(180deg);
  filter: invert(100%);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}
#chevron-left{
  position: fixed;
  top: calc(50vh - 80px);
  left: 30px;
  height: 80px;
  width: 80px;
  filter: invert(100%);
  background-position: center;
  background-size: cover;
  opacity: 80%;
}
.epic-img-c__date-not-available{
  height: 100%;
  width: 100%;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logout-button{
  height: 40px;
  width: 100px;
  /* border: 1px solid rgb(131, 131, 131); */
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  color: grey;
  box-shadow: 
        inset 0px 2px 4px -1px rgba(125, 125, 125, 0.6),
        inset 0px -2px 5px -0px rgba(125, 125, 125, 0.6),
        0px 4px 6px 0px rgba(125, 125, 125, 0.6);
  transition-property: opacity;
  transition-delay: .4s;
  transition-duration: .6s; 
  opacity: 100%;
}
.none{
  opacity: 0%;
  pointer-events: none;
  visibility: hidden;
}

