#root{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}
#main-c{
  width: 100vw;
  height: 100vw;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: black;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#main-c__scroll{
  height: auto;
  width: 100vw;
}
.main-c__img{
  width: 100%;
  /* height: 100%; */
}
.main-c__bottom-nav{
  position: fixed;
  bottom: 0px;
  height: 40%;
  width: 100%;
  border-top: 1px solid grey;
  background-color: white;
  transition: height 1s;
}
.open{
  height: 40%;
  overflow: hidden;
}
.closed{
  height: 80px;
}
.main-c__bottom-nav-switch{
  height: 60px;
  width: 60px;
  /* border: 1px solid grey; */
  position: relative;
  /* top: -20px; */
  margin: auto;
  transition: all;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.flipped{
  transform: rotate(180deg);
  top:-10px
}
#chevron-skywalker{
  width: 60px;
  fill: white;
  position: relative;
  top: 29px;
  filter: drop-shadow(0px -1px 4px rgb(158, 158, 158));
  
}
#chevron-skywalker-inverse{
  width: 60px;
  fill: white;
  transform: rotate(180deg);
  position: relative;
  top: -21px;
}
#main-c__bottom-nav-top{
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid lightgrey;
  position: relative;
  top: -60px;
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#main-c__bottom-nav-top__switch-c{
  width: 200px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 100px;
}
#image-size-span{
  margin-bottom: 7px;
}
#main-c__bottom-nav-top__switch-c span {
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 15px;
  color: grey;

  
  
  /* margin-bottom: 5px;
  margin-top: 5px; */
}
.size-switch__switch__span-1{
  position: absolute;
  left: 57px;
  padding: 3px;
  pointer-events: all;
}
.size-switch__switch__span-2{
  position: absolute;
  left: 87px;
  padding: 3px;
  pointer-events: all;
}
.size-switch__switch__span-3{
  position: absolute;
  left: 125px;
  padding: 3px;
  pointer-events: all;
}
.invisible{
  visibility: hidden;
}

#main-c__bottom-nav-top__image-size-switch{
  width: 100px;
  height: 24px;
  border-radius: 999px;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}
#image-size-switch__switch{
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: rgb(177, 177, 177);
}
#main-c__bottom-nav-top__Searchbar{
  width: 400px;
  height: 40px;
  border-radius: 999px;
  background-color: rgb(233, 233, 233);
  position: absolute;
  right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-c__bottom-nav-top__Searchbar input{
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  pointer-events: all;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.15;
  font-size: 20px;
  color: grey;
  margin-left: 5px;
}
.magnifying-glass{
  height: 30px;
  fill: grey;
  margin-left: 10px;

}
#main-c__bottom-nav-top__Searchbar__form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-c__bottom-nav-top__Searchbar__button{
  height: 20px;
  min-width: 30px;
  background-color: rgb(177, 177, 177);
  border-radius: 999px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  border: none;
  outline: none;
}

.left-arrow{
  transform: rotate(180deg);
  height: 25px;
  fill: rgb(233, 233, 233);
}

.search-array-image{
  height: 100px;
  background-image: url("http://images-assets.nasa.gov/image/EARTH_DAY_2019_WEB/EARTH_DAY_2019_WEB~orig.jpg");
}



