@media screen and (max-width: 1040px){
/* --------search-menu------ */
  .search-menu-nav {
  right: 20px;
}
/* ---------------------------- */
/* ------------search-bar---------- */
#main-c__bottom-nav-top__Searchbar{
  right: 20px;
}
/* ---------------------------- */
/* ------------image-search------- */
#main-c__bottom-nav-top__image-size-switch{
  left: 20px;
}
#filter-date-c{
  right: 270px;
}
#filter-end-date-c{
  right: 270px;
}
/* --------------------------------- */

/* ------------potd----------------- */
#potd-image-size-select{
  left: 20px;
}
#POTD-next-prev{
  right: 200px;
}
/* --------------------------------- */
/* ----------------epic---------------- */
#enhanced-toggle{
  right: 220px;
}
/* ------------------logout-button--------- */
.logout-button{
  left: 20px;
}
/* -------------------------------------------- */
/* -----------------dog---------------------------- */
.dog{
  left: 180px;
}
/* ------------------------------------------- */
/* -----------------about-button---------------------------- */
.info-button{
  left: 20px;
}
/* ------------------------------------------------------------- */
/* ---------------------audio-------------------------------------- */
.react-audio-player,
.react-audio-player-cover{
  left: 20px;
}
.audio-info{
  right: 200px;
  width: 37vw;
}
/* -------------------------------------------------------------------- */
}
