.search-filter {
  position: absolute;
  right: 340px;
  top: 100px;
	width: 150px;

	height: 160px;

	background-color: rgb(206, 206, 206);
	border-radius: 20px;
  font-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-filter div {
	/* line-height: 50px; */
  height: 30px;
  min-width: 120px;
	font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
  cursor: pointer;
  margin-left: 20px;
  /* border: 1px solid green; */
}
.search-filter div span{
  width: 300px;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  line-height: 1.15;
  font-size: 14px;
  /* color: grey; */
}
.search-filter .animation {
	position: absolute;
	height: 30px;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 999px;
}
.search-filter-option:nth-child(1) {
  width: 100px;
  /* border: 2px solid yellow; */
}
.search-filter-option:nth-child(2) {
  width: 100px;
  /* border: 2px solid red; */
}
.search-filter-option:nth-child(3) {
	width: 100px;
}
.search-filter-option:nth-child(4) {
	width: 100px;
}
.search-filter-option:nth-child(5) {
	width: 100px;
}
.search-filter .start-home, .search-filter-option:nth-child(1):hover~.animation {
	width: 100%;
  top: 5px;
  left: -20px;
	background-color: #5c43b6;
}
.search-filter .start-about, .search-filter-option:nth-child(2):hover~.animation {
	width: 100%;
  top: 35px;
  left: -20px;
	background-color: #313899;
}
.search-filter .start-blog, .search-filter-option:nth-child(3):hover~.animation {
	width: 100%;
  top: 65px;
  left: -20px;
	background-color: #227db9;
}
.search-filter .start-portefolio, .search-filter-option:nth-child(4):hover~.animation {
	width: 100%;
  top: 95px;
  left: -20px;
	background-color: #59b659;
}
.search-filter .start-contact, .search-filter-option:nth-child(5):hover~.animation {
	width: 100%;
  top: 125px;
  left: -20px;
	background-color: #ece24c;
}
.menu-item-2~.animation{
  width: 100%;
  top: 35px;
  left: -20px;
	background-color: #313899;
}
.menu-item-3~.animation{
  width: 100%;
  top: 65px;
  left: -20px;
	background-color: #227db9;
}
.menu-item-4~.animation{
  width: 100%;
  top: 95px;
  left: -20px;
	background-color: #59b659;
}