.signup-pop--container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: 40px 70px 0px 0px;
  background-color: rgb(105, 105, 105, .5);
  border-radius: 20px;
  width: 250px;
  position: absolute;
  top: 0px;
  left: 70px;
}
.signup-head--container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}
.signup-head--topElements {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin: 0px;
}
.signup-head__logo {
  width: 45px;
  height: 45px;
  /* margin: auto; */
}
.signup__closeButton--container {
  position: relative;
  top: 15px;
  left: 200px;
  z-index: 1;
  /* border: 5px solid green; */
  width: 30px;
  fill: rgb(134, 134, 134);

}
.signup-head__text p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;

}
.signup-form--container div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 20px;
}
.signup-form__text {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form__text P{
  text-align: center;
  margin: 0px 0px 0px 0px;

}
.signup-form--container input {
  margin-bottom: 5px;
  color: black;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  text-align: center;
  outline: none;
  background-color: rgb(196, 196, 196);

}
.signup-form__submitButton--container {
  width: 84%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 10px;
  background-color: #2e2e2e;
  cursor: pointer;
}
.modal-hiding {
  display: none;
}
