.signup-pop--container {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin: 10px;
  background-color: #073c5f;
  border-radius: 20px;
  width: 600px;
  position: fixed;
  top: 0px;
  left: 25vw;
}
.signup-head--container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
}
.signup-head--topElements {
  display: flex;
  justify-items: center;
  align-content: center;
  width: 100%;
  margin: 10px;
}
.signup-head__logo {
  width: 45px;
  height: 45px;
  margin: auto;
}
.signup__closeButton--container {
  position: relative;
  left: -30px;
  z-index: 1;
}
.signup-head__text p {
  font-size: 24px;
  margin-left: 20px;
}
.signup-form--container div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 20px;
}
.signup-form__text {
  font-size: 16px;
}
.signup-form--container input {
  margin-bottom: 5px;
  color: black;
  height: 40px;
}
.signup-form__submitButton--container {
  width: 93%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0383df;
  border-radius: 10px;
  background-color: #0383df;
  cursor: pointer;
}
.modal-hiding {
  display: none;
}
