.root{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sound-countainer{
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 0px;
  margin: auto;
  /* flex-wrap: wrap; */

}
.sound-button{
  padding: 20px;
  width: auto;
  height: 30px;
  background-color: rgb(14, 141, 188, .7);

  border-radius: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-justify: center;
  text-align: center;
  margin: 20px 20px 0px 20px;
  flex-shrink: 20;
  box-shadow: 
    inset 0px 6px 8px 1px rgb(255, 255, 255, .4),
    inset 0px -6px 8px 1px rgba(0, 0, 0, 0.4);
  transition: background-color .3s;
  

}
.sound-button:hover{
  background-color: rgba(189, 122, 230, 0.7);
}
.sound-description{
  flex-shrink: 20;
  color: #FFFFFF;
  position: relative;
  top: -5px;
  text-shadow: 
  0 1px 0 #CCCCCC, 
  0 2px 0 #c9c9c9, 
  0 3px 0 #bbb, 
  0 4px 0 #b9b9b9, 
  0 5px 0 #aaa, 
  0 6px 1px rgba(0,0,0,.1), 
  0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 
  0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
  font: 30px 'ChunkFiveRegular';
  margin: 0px;
  transition: all .2s;
}
.sound-description:hover{
  margin-bottom: -4px;
  text-shadow: 0 1px 0 #CCCCCC, 
  0 1px 0 #bbb, 
  0 2px 0 #aaa, 
  0 3px 1px rgba(0,0,0,.1), 
  0 0 5px rgba(0,0,0,.1), 
  0 1px 3px rgba(0,0,0,.3), 
  0 3px 5px rgba(0,0,0,.2), 
  0 5px 10px rgba(0,0,0,.25), 
  0 10px 10px rgba(0,0,0,.2), 
  0 20px 20px rgba(0,0,0,.15);
}
.shuttle{
  position: relative;
  top: -1px;
  left: 10px;
  height: 80px;
  transform: rotate(90deg);
  margin-right: 0px;
  transition: all .3s;
}
.shuttle:hover{
  left: 15px;
}
.mp3string{
  color: white;
}
.react-audio-player{
  position: absolute;
  left: 100px;
  pointer-events: all;
  outline: none;
}
audio {
  width: 300px;
  height: 54px;
  pointer-events: all;
}
.react-audio-player-cover{
  position: absolute;
  left: 100px;
  width: 300px;
  height: 54px;
  pointer-events: none;
  border-radius: 999px;
  box-shadow: 
        inset 0px 4px 4px -4px rgba(125, 125, 125, 0.5),
        inset 0px -4px 5px -3px rgba(125, 125, 125, 0.5);
        z-index: 1;
}
.audio-info{
  position: absolute;
  top: 20px;
  right: 270px;
  width: 34.5vw;
  height: 160px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.audio-info__scroll{
  margin: 20px 0px 20px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.audio-info__scroll p{
  margin: 0px 20px 20px 20px;
  font-size: 20px;
  color: grey;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: left;
}
.audio-info__scroll h2{
  margin: 20px 20px 20px 20px;
  font-size: 23px;
  color: grey;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin: auto;
}
.parallax{
  display: flex;
  justify-content: center;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  
}
.parallax-background{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("../images/saturn2.jpg");
  background-position-y: 150%;
  position: absolute;
  /* top: 0px;
  left: 0px;  */
pointer-events: none;
  /* z-index: -1; */
  /* transform: translateY(200px) !important ; */
}
.background-triangles {
    width: 1080px;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}