#tweet-button-2{
  background-color:  rgba(29,161,242,1.00);
  width: 75px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: .2s;
  position: relative;
  top: -8px;
  left: 240px;

}
#tweet-button-2 span{
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
}
.tweet-c{
  width: 100%;
  height: auto;
  border: 1px solid rgb(233, 232, 232);
  /* pointer-events: none; */
}
.tweet-c__top{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.user__profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 15px 0px 0px 15px;
}

.tweet-c__user-name{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.tweet-c__user-name__names__top{
  margin: 12px 0px 0px 0px;
}
.tweet-c__user-name__names__bottom{
  margin: 5px 0px 0px 5px;
  font-weight: 400;
  color: grey;
  position: relative;
  top: 4px;

}
.tweet-c__comment{
  margin-left: 75px !important;
  width: 505px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  margin: 0px;
  /* position: relative;  */
  top: 0px;
  /* border: 1px solid blue; */
}

.tweet-c__comment p{
  padding: 0px;
  margin: 0px;
}
.tweet-pic{
  width: 85%;
  border-radius: 20px;
  margin: 0px 0px 0px 75px;
  position: relative;
  top: 10px;
}
.tweet-c__svg-c{
  margin-top: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.comment-bubble{
  height: 18px;
  width: 18px;
  margin-bottom: 10px;
  margin-left: 75px;
  padding: 7px;
  border-radius: 100%;
  fill: rgb(101, 119, 134);
}
.retweet{
  height: 18px;
  width: 18px;
  margin-bottom: 10px;
  margin-left: 120px;
  padding: 7px;
  border-radius: 100%;
  fill: rgb(101, 119, 134);
}
.retweetOn{
  height: 18px;
  width: 18px;
  margin-bottom: 10px;
  margin-left: 120px;
  padding: 7px;
  border-radius: 100%;
  fill: rgba(29,161,242,1.00);
}
.heart{
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-left: 120px;
  padding: 7px;
  border-radius: 100%;
  fill: rgb(101, 119, 134);
 
}
.heart:hover{
  background-color: rgb(250, 209, 216);
  fill: red;
}
.heartOn{
  height: 18px;
  width: 18px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-left: 120px;
  padding: 7px;
  border-radius: 100%;
 
  fill: red;
  color: red;
}
.tweet-like--container{
  position: relative;
}
.tweet-like--container span{
  position: absolute;
  top: 9px;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  color: rgb(101, 119, 134);
}

.link-tweet{
  height: 18px;
  width: 18px;
  margin-bottom: 11px;
  margin-left: 120px;
  padding: 7px;
  border-radius: 100%;
  fill: rgb(101, 119, 134);
}
.comment-bubble:hover,
.retweet:hover,
.link-tweet:hover{
    background-color: rgb(226, 242, 253);
    fill: rgba(29,161,242,1.00);
}
.down-carrot-c{
  position: absolute;
  left: 490px;
  top: 5px;
  width: 15px;
}
.link-tweet:hover{
  cursor: not-allowed;
}
